<ul class="rwdt_info">
      <li>
        <p class="fd">账户余额：<strong class="chengse">$memberfields[money]</strong> 元</p>
      <a title="将存款提取到我的网银或支付宝上" target="_blank" href="{rewrite}/member/payment/" class="rwdt_tx"></a></li>
      <div class="cle"></div>
      <li><p>积分：<strong class="chengse">$memberfields[credits]</strong> 个</p></li>
      <li><p>当前会员数：<strong class="chengse">$dangqianhuiyuanshu</strong> 人</p></li> 
      <li><p>今日已接：<strong class="chengse">$todayjierenwucount</strong>单（昨日{$yestedayjierenwucount}）</p></li>  
      <li><p>累计完成：<strong class="chengse">$leijicount</strong> 单</p></li>	  
</ul>