
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" href="../css/dialog.css" rel="stylesheet" />
<style type="text/css">
.tbl td {border-bottom:1px solid #E8F2FC;}
.bar_dl {margin:0px !important;}
</style>
{teval
echo css::get_css('dialog', 'dialog');
echo css::get_css('task', 'task');
echo javascript::get_js('task', 'index');
}
{js_select jquery,common}
<title>删除提现帐号</title>
</head>
<body>
<script type="text/javascript">
function checkForm() {
	var result =confirm("你确定要删除该帐号吗？");
    if(result==true){		 
		document.getElementById("shifoutijiao").value='1'; 
	}else{
	 	document.getElementById("shifoutijiao").value='0'; 
	}
}
</script>
<div class="main_dl">
	{if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
	{if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}	
	<div class="bar_dl">帐号详情</div>
<form name="myForm" method="post" id="myForm" onsubmit="return checkForm();">
<div>$sys_hash_code2</div>

  <table class="tbl" width='100%' border='0' cellspacing='0' cellpadding='6'>
	
    <tr>
      <td width='80' class='f_b_green' valign="top" align="right">提现类型：</td>
      <td>
		{$paymentsetup[type]}
      </td>
    </tr>    
    <tr>
      <td width='80' class='f_b_green' valign="top" align="right">帐号：</td>
      <td>{$paymentsetup[cardnumber]}</td>
    </tr>
    <tr>
      <td width='80' class='f_b_green' valign="top" align="right">姓名：</td>
      <td>{$paymentsetup[tusername]}</td>
    </tr>
    <tr>
      <td width='80' class='f_b_green' valign="top" align="right">操作码：</td>
      <td><INPUT id="pwd2" class="aninput" name="pwd2" type="password"></td>
    </tr>
    <tr>
      <td width='80' class='f_b_green' valign="top" align="right">提交：</td>
      <td>
      <input type="hidden" name="shifoutijiao" id="shifoutijiao" value="0"  /> 
      <input type="submit" name="btnSubmit" value="确认删除" />
      </td>
    </tr>
  </table>
  </form>
	<div style="padding-top:20px;text-align:center;">
		<input name="goon" class="btn_2" type="button" id="goon" onclick="parent.doCut2();" value="关闭" />
	</div>
</div>
</body>
</html>
