{sub h}
{if $method == 'index'}
	{adminList
		删？|id|del
        淘宝账号|taobaohao
        账号类型|type
        账号注册日期|regTime
		信誉值|xinyuzhi
		支付宝账号|zhifubao
        淘宝登录密码|taobaomima
        支付宝登录密码|zhifubaomima
        支付宝支付密码|zhifumima
        单价|danjia
        购买人|username
        购买时间|useTime|code,{if $v[useTime]>0}{echo date('Y-m-d H:i:s',$v[useTime])}{/if}		
        状态|status|code,{if $v[status]==0}未购买{elseif $v[status]==1}已购买{/if}
        编辑|bianji|code,<a href="$base_url&method=bianji&sid=$v[id]">编辑</a>		
        
	}
{elseif $method == 'add'}
<form enctype="application/x-www-form-urlencoded" method="post" onsubmit="return confirm('确定吗？')">
$sys_hash_code
	<table class="tab_view">
 		<tr>
			<th>淘宝账号</th>
			<td><input type="text" name="taobaohao" style="width:220px" maxlength="30"  /></td>
		</tr>  
 		<tr>
			<th>账号类型</th>
			<td><input type="text" name="type" style="width:220px" maxlength="30"  /></td>
		</tr>  
 		<tr>
			<th>账号注册日期</th>
			<td><input type="text" name="regTime" style="width:220px" maxlength="30"  /></td>
		</tr>
 		<tr>
			<th>信誉值</th>
			<td><input type="text" name="xinyuzhi" style="width:220px" maxlength="30"  /></td>
		</tr>  
 		<tr>
			<th>支付宝账号</th>
			<td><input type="text" name="zhifubao" style="width:220px" maxlength="30"  /></td>
		</tr>
 		<tr>
			<th>淘宝登录密码</th>
			<td><input type="text" name="taobaomima" style="width:220px" maxlength="30"  /></td>
		</tr>
 		<tr>
			<th>支付宝登录密码</th>
			<td><input type="text" name="zhifubaomima" style="width:220px" maxlength="30"  /></td>
		</tr>
  		<tr>
			<th>支付宝支付密码</th>
			<td><input type="text" name="zhifumima" style="width:220px" maxlength="30"  /></td>
		</tr>
 		<tr>
			<th>单价</th>
			<td><input type="text" name="danjia" style="width:220px" maxlength="30"  /></td>
		</tr>
		<tr>
			<th></th>
			<td><input type="submit" value="提交" class="btn" /><input type="button" value="返回" onclick="history.back(-1)" class="btn" /></td>
		</tr>
	</table>
</form>
{elseif $method == 'bianji'}
<form enctype="application/x-www-form-urlencoded" method="post" onsubmit="return confirm('确定吗？')">
$sys_hash_code
	<table class="tab_view">
 		<tr>
			<th>ID号</th>
			<td>$xiaohaobuy[id]</td>
            <input type="hidden" name="qid" value="$xiaohaobuy[id]"  />
		</tr>
 		<tr>
			<th>淘宝账号</th>
			<td><input type="text" name="taobaohao" style="width:220px" maxlength="30" value="$xiaohaobuy[taobaohao]"  /></td>            
		</tr>
 		<tr>
			<th>账号类型</th>
			<td><input type="text" name="type" style="width:220px" maxlength="30" value="$xiaohaobuy[type]"  /></td>            
		</tr>
 		<tr>
			<th>账号注册日期</th>
			<td><input type="text" name="regTime" style="width:220px" maxlength="30" value="$xiaohaobuy[regTime]"  /></td>            
		</tr>
 		<tr>
			<th>信誉值</th>
			<td><input type="text" name="xinyuzhi" style="width:220px" maxlength="30" value="$xiaohaobuy[xinyuzhi]"  /></td>            
		</tr>
 		<tr>
			<th>支付宝账号</th>
			<td><input type="text" name="zhifubao" style="width:220px" maxlength="30" value="$xiaohaobuy[zhifubao]"  /></td>            
		</tr>
 		<tr>
			<th>淘宝登录密码</th>
			<td><input type="text" name="taobaomima" style="width:220px" maxlength="30" value="$xiaohaobuy[taobaomima]"  /></td>            
		</tr>
  		<tr>
			<th>支付宝登录密码</th>
			<td><input type="text" name="zhifubaomima" style="width:220px" maxlength="30" value="$xiaohaobuy[zhifubaomima]"  /></td>            
		</tr>
 		<tr>
			<th>支付宝支付密码</th>
			<td><input type="text" name="zhifumima" style="width:220px" maxlength="30" value="$xiaohaobuy[zhifumima]"  /></td>            
		</tr>
 		<tr>
			<th>单价</th>
			<td><input type="text" name="danjia" style="width:220px" maxlength="30" value="$xiaohaobuy[danjia]"  /></td>            
		</tr>
		<tr>
			<th></th>
			<td><input type="submit" value="提交" class="btn" /><input type="button" value="返回" onclick="history.back(-1)" class="btn" /></td>
		</tr>
	</table>
</form>
{/if}
{sub f}