<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$sys_gongsimc}卖家服务_{$sys_gongsimc}</title>
    <meta name="description" content="{$sys_gongsimc}淘宝卖家服务,提共淘宝优化培训,网店托管,视频教程,店铺收藏,等服务。" />
    <meta name="keywords" content="$keywords" />
    <link rel="shortcut icon" href="{rewrite}/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"><link rel="stylesheet" type="text/css" href="/static/css/fuwu/main.css"><link rel="stylesheet" type="text/css" href="/static/css/dialog/twitter.css">
</head>
<body>
{sub ../headerBasefuwu}
<div id="p-focus" class="a-mb15" style="padding:0;">
    <div class="g-layout">
        <div class="focus-nav">
            <div class="tri">
                <div class="tri-tit"><span><a href="{rewrite}/fuwu/tuoguan/">网店托管</a></span><b class="arr"></b></div>
                <div class="pop-menus">
                    <p><a href="{rewrite}/fuwu/tuoguan/">个性化订制</a></p>
                    <p><a href="{rewrite}/fuwu/sorttuoguan/">指定类目托管</a></p>
                </div>
            </div>
            <div class="tri">
                <div class="tri-tit"><span><a href="{rewrite}/fuwu/dmseo/">网店培训</a></span><b class="arr"></b></div>
            </div>
            <div class="tri">
                <div class="tri-tit"><span><a href="{rewrite}/fuwu/video/">视频教学</a></span><b class="arr"></b></div>
            </div>
            <div class="tri">
                <div class="tri-tit"><span><a href="{rewrite}/fuwu/wip/">站外流量</a></span><b class="arr"></b></div>
            </div>
            <div class="tri">
                <div class="tri-tit"><span><a href="{rewrite}/fuwu/collect/">人气收藏</a></span><b class="arr"></b></div>
            </div>
             <div class="tri">
                <div class="tri-tit"><span><a href="{rewrite}/fuwu/bangpai/">优帮关注</a></span><b class="arr"></b></div>
            </div>
        </div>
        <div class="focus-slider">
            <div class="home-slider">
                <div class="home-slider-crop">
                    <ul class="home-slider-cnt">
                        <li><a href="" target="_blank"><img src="/static/images/fuwu/banner001.jpg" alt=""></a></li>
                        <li><a href="" target="_blank"><img src="/static/images/fuwu/banner002.jpg" alt=""></a></li>
                        <li><a href="" target="_blank"><img src="/static/images/fuwu/banner003.jpg" alt=""></a></li>
                        <li><a href="" target="_blank"><img src="/static/images/fuwu/banner004.jpg" alt=""></a></li>
                    </ul>
                </div>
                <ul class="home-slider-nav">
                    <li>流量快车</li>
                    <li>个性化托管</li>
                    <li>爆款也疯狂</li>
                    <li>宝贝排名飙升</li>
                </ul>
            </div>
        </div>
        <div class="focus-win">
            <a class="ordering" href="{rewrite}/fuwu/tuoguan/" target="_blank">立刻订购服务</a>
            <div class="notice">
                <h3>服务公告</h3>
                <ul>
                   <li><span class="tit"><a href="{rewrite}/bbs/t108/" target="_blank">任务图标以及常用名词解释</a></span></li>
                   <li><span class="tit"><a href="{rewrite}/bbs/t106/" target="_blank">卖家安全守则</a></span></li>
                   <li><span class="tit"><a href="{rewrite}/bbs/t93/" target="_blank">安全刷钻手册</a></span></li>
                                    </ul>
            </div>
        </div>
    </div>
</div>
<div id="p-content">
    <div class="g-layout">
        <div class="ui-title">
            <h2 class="ui-title-tit"><img src="/static/images/fuwu/title-sevice.png" alt="热门服务"/></h2>
            <a class="ui-title-more" href="javascript:;">查看更多</a>
        </div>
        <div class="service-list">
            <ul>
                <li><a class="pic" href="{rewrite}/fuwu/tuoguan/"><img qh="service11" src="/static/images/fuwu/service1.gif" alt=""/></a></li>
                <li><a class="pic" href="{rewrite}/fuwu/sorttuoguan/"><img qh="service22" src="/static/images/fuwu/service2.gif" alt=""/></a></li>
                
                <li><a class="pic" href="{rewrite}/fuwu/video/"><img qh="service44" src="/static/images/fuwu/service4.gif" alt=""/></a></li>
                <li><a class="pic" href="{rewrite}/fuwu/wip/"><img qh="service55" src="/static/images/fuwu/service5.gif" alt=""/></a></li>
                <li><a class="pic" href="{rewrite}/fuwu/collect/"><img qh="service66" src="/static/images/fuwu/service6.gif" alt=""/></a>
                <li><a href="{rewrite}/fuwu/bangpai/"><img src="/static/images/fuwu/service88.png" alt=""/></a></li>
                <li><a href="{rewrite}/fuwu/beisheng/"><img src="/static/images/fuwu/service9.png" alt=""/></a></li>
                <li style="display:none;"><a class="pic" href="{rewrite}/fuwu/dmseo/"><img qh="service33" src="/static/images/fuwu/service3.gif" alt=""/></a></li>
            </ul>
        </div>
    </div>
    <div class="g-layout">
        <img src="/static/images/fuwu/how.png" alt="如何购买?"/>
    </div>
</div>
{sub ../footer1}
<script type="text/javascript" data-main="/static/js/main" src="/static/js/require.js"></script>
<script type="text/javascript">
var _delay = [];
_delay.push(function(){

    $('.focus-nav .tri').hover(function(){
        $(this).siblings().find('.pop-menus').hide();
        $(this).find('.pop-menus').stop(false,true).show(100);
    },function(){
        $('.pop-menus').stop(false,true).hide();
    });

    //设置slider-nav-item宽度---------------
    var slider_nav_item = jQuery('.home-slider-nav li'), i = slider_nav_item.length;
    slider_nav_item.width(590/i).show().eq(0).addClass('current');
    //轮播功能
    KISSY.use("event,switchable", function(S, Event,Switchable) {
        S.ready(function(S) {
            var carousel = new Switchable.Carousel('.home-slider', {
                effect: 'scrollx',//切换方式
                easing: 'easeOutStrong',
                navCls: 'home-slider-nav',
                activeTriggerCls: 'current',
                contentCls: 'home-slider-cnt',
                interval: '3',//3秒切换
                duration: '.3',
                circular: true,//循环播放
                autoplay: true
            });
        });
    });
    //------------------------------------

    /*图标切换*/
    $(".service-list ul li .pic").mouseover(function(){
        imgname = $(this).children('img').attr('qh');
        $(this).children('img').attr('src','/static/images/fuwu/'+imgname+'.gif');
    });
    $(".service-list ul li .pic").mouseout(function(){
        imgname = $(this).children('img').attr('qh');
        imgname = imgname.substr(0,imgname.length-1);
        $(this).children('img').attr('src','/static/images/fuwu/'+imgname+'.gif');
    })
    $(".ui-title-more").click(function(){
        $(".service-list li").show();
    })
    
});
</script>
</body>
</html>