<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>视频教学_{$sys_gongsimc}SEO培训</title>
    <meta name="description" content="{$sys_gongsimc}SEO视频教学为那些没有信誉,没有销量的卖家提供更好的学习排名的方法。" />
    <meta name="keywords" content="视频教程，{$sys_gongsimc}SEO培训" />
    <link rel="shortcut icon" href="{rewrite}/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"><link rel="stylesheet" type="text/css" href="/static/css/fuwu/main.css"><link rel="stylesheet" type="text/css" href="/static/css/dialog/twitter.css">
</head>
<style>
.service-view-quan { padding-top: 20px;}
.service-view-quan input { overflow: hidden;width: 130px;height: 14px;margin-right: 5px;padding: 8px;border: 1px solid #CCC;background: #FFF url(/static/images/fuwu/fontnew/input-bg.png) repeat-x;line-height: 14px;vertical-align: top;color: #AAA;}
.service-view-quan button { overflow: hidden;width: 95px;height: 32px;border: 0;background: url(/static/images/fuwu/fontnew/btn-95x32.png) no-repeat;text-align: center;vertical-align: top;color: #FFF;cursor: pointer;}
.service-view-quan p{ float: left;font-size: 13px;color: #1A7A1A;}
.service-view-quan p b{ color: #F00;margin-right: 10px;}
</style>
<body>
{sub ../headerBasefuwu}
<div id="p-focus" class="a-mb15">
    <div class="g-layout">
        <!-- 面包屑 -->
        <div class="crumb">
            <a class="item" href="{rewrite}/" target="_blank">全部服务</a>
            <b class="f-arr">&gt;</b>
            <em class="item">视频教程</em>
        </div>

        <div class="service-view">
            <span class="service-view-pic"><img src="/static/images/fuwu/service-view-video.jpg" alt=""/><b></b></span>
            <div class="service-view-cnt">
                <h1>淘宝排名爆款视频</h1>
                <div class="service-view-content">
                    <!-- 内容插入在这里 -->
                    淘宝宝贝排名 100%提升宝贝排名 提升宝贝销量 实战效果我和我小伙伴都惊呆了.视频 + 一对一问题解答。进入大卖家的行列，缩短与对方的差距。自己也能当土豪~o~。提供提升宝贝排名全套实战视频，优化排名，提升曝光率，增强销售
                    <!-- 内容结束 -->
                </div>
                 <div class="service-view-quan" style="display:none;">
                                        <input name="YHCode" class="quan-input" type="text" value="输入代金券抵扣现金" style="color: rgb(170, 170, 170);" maxlength="10">
                    <button type="button" name="get" class="quan-button">领用代金券</button>
                                    </div>
            </div>
            <div class="service-view-order">
                <div class="price">
                    <p>价格：<del>398</del>元</p>
                    <p style="color:#870000;">促销：198元</p>
                </div>
                <div class="act">
                    <a class="btn-buy" id="puydata" href="{$baokuanship}" target="_blank">前往购买</a>
                    <a class="qq" href="javascript:void(0);" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&uin={$kefu_qq}&site=qq&menu=yes');">联系我们</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="p-content">
    <div class="g-layout">
        <div class="g-s215m760">
            <div class="col-sub">
                <div class="sub-box">
                    <div class="ui-title"><h2 class="ui-title-tit"><img src="/static/images/fuwu/title-sevice.png" alt="热门服务"></h2></div>
                    <div class="service-list">
    <ul>
        <li><a class="pic" href="{rewrite}/fuwu/tuoguan/"><img qh="service11" src="/static/images/fuwu/service1.gif" alt=""/></a><!-- <span>已有125人购买</span> --></li>
        <li><a class="pic" href="{rewrite}/fuwu/sorttuoguan/"><img qh="service22" src="/static/images/fuwu/service2.gif" alt=""/></a><!-- <span>已有125人购买</span> --></li>
        <li><a href="{rewrite}/fuwu/beisheng/"><img src="/static/images/fuwu/service9.png" alt=""/></a><!-- <span>已有125人购买</span> --></li>
        <li><a class="pic" href="{rewrite}/fuwu/dmseo/"><img qh="service33" src="/static/images/fuwu/service3.gif" alt=""/></a><!-- <span>已有125人购买</span></li> -->
        <li><a class="pic" href="{rewrite}/fuwu/video/"><img qh="service44" src="/static/images/fuwu/service4.gif" alt=""/></a></li>
        <li><a class="pic" href="{rewrite}/fuwu/wip/"><img qh="service55" src="/static/images/fuwu/service5.gif" alt=""/></a><!-- <span>已有125人购买</span> --></li>
        <li><a class="pic" href="{rewrite}/fuwu/collect/"><img qh="service66" src="/static/images/fuwu/service6.gif" alt=""/></a><!-- <span>已有125人购买</span> --></li>
        <!-- <li><a class="pic" href="/fuwu/kefu"><img qh="service77" src="/static/images/fuwu/service7.gif" alt=""/></a> <span>已有125人购买</span></li> -->
        <li><a href="{rewrite}/fuwu/bangpai/"><img src="/static/images/fuwu/service88.png" alt=""/></a><!-- <span>已有125人购买</span> --></li>
       
    </ul>
</div>
                </div>
            </div>
            <div class="col-main">
                <div id="taocont">
                    <h3>推荐服务</h3>
                    <div class="uls">
                        <div class="taogoods cur">
                            <a href="{rewrite}/fuwu/wip/">
                                <img src="/static/images/fuwu/taocang/goods1.png" width="60" height="60" />
                                <p><span>站外流量 增加曝光</span><br>特价:200IP 3麦点</p>
                            </a>
                        </div>
                        <i class="jia"></i>
                        <div class="taogoods cur">
                            <a href="{rewrite}/fuwu/collect/">
                                <img src="/static/images/fuwu/taocang/shou.png" width="60" height="60" />
                                <p><span>人气收藏 提升排名</span><br>特价:20收藏 2麦点</p>
                            </a>
                        </div>
                        <i class="jia"></i>
                        <div class="taogoods cur">
                           <a href="{rewrite}/fuwu/tuoguan/">
                                <img src="/static/images/fuwu/taocang/tuo.png" width="60" height="60" />
                                <p><span>网店托管 个性订制</span><br>特价:250笔 599元</p>
                            </a>
                        </div>
                        <i class="jia"></i>
                        <div class="taogoods cur">
                            <a href="{rewrite}/fuwu/sorttuoguan/">
                                <img src="/static/images/fuwu/taocang/su.png" width="60" height="60" />
                                <p><span>快速托管 三天完成</span><br>特价:250笔 599元</p>
                            </a>
                        </div>
                        <i class="jia"></i>
                        <div class="taogoods">
                            <a href="{rewrite}/fuwu/bangpai/">
                                <img src="/static/images/fuwu/taocang/you.png" width="60" height="60" />
                                <p><span>帮派优站 求关注</span><br>特价:10数量 3麦点</p>
                            </a>
                        </div>
                        <i class="jia"></i>
                        <div class="taogoods">
                            <a href="{rewrite}/fuwu/beisheng/">
                                <img src="/static/images/fuwu/taocang/bei.png" width="60" height="60" />
                                <p><span>宝贝排名 快速提升</span><br>初级套餐 499元</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui-tabs" style="float:left;">
                    <div class="ui-tabs-nav" style="width:740px;">
                        <span type="0" class="ui-tabs-tri ui-tabs-tri-active">服务详情</span>
                        <span type="1" class="ui-tabs-tri ">成功案例</span>
                        <span type="2" class="ui-tabs-tri">服务反响</span>
                    </div>
                    <div class="ui-tabs-crop">
                        <div class="ui-tabs-cnt">
                            <!-- 服务详情 -->
                            <div class="ui-tabs-panel">
                                <div class="sevice-detail">
                                    <img src="/static/images/fuwu/service_detail/video_01.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/video_02.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/video_16.png" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/video_03.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/video_04.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/video_05.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/video_06.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/video_07.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/video_08.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/video_09.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/video_10.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/video_11.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/video_12.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/video_13.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/video_14.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/video_15.jpg" alt=""/>
                                </div>
                            </div>
                            <!-- 成功案例 -->
                            <div class="ui-tabs-panel" style="display:none;">
                                <div class="sevice-detail">
                                    <img src="/static/images/fuwu/service_detail/case_01.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/case_02.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/case_03.jpg" alt=""/>
                                </div>
                            </div>
                            <!-- 服务反响 -->
                            <div class="ui-tabs-panel" style="display:none;">
                                <div class="sevice-detail">
                                    <img src="/static/images/fuwu/service_detail/fanxiang_01.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/fanxiang_02.jpg" alt=""/>
                                    <img src="/static/images/fuwu/service_detail/fanxiang_03.jpg" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="fillData" value="" />
{sub ../footer1}
<script type="text/javascript" data-main="/static/js/main" src="/static/js/require.js"></script>


<script type="text/javascript">
var _delay = [];
_delay.push(function(){
    $('.col-main .ui-tabs-tri').mouseover(function(){
        $('.col-main .ui-tabs-tri').removeClass('ui-tabs-tri-active');
        $(this).addClass('ui-tabs-tri-active');
        var i = $(this).attr('type');
        $('.ui-tabs-crop .ui-tabs-panel').hide();
        $('.ui-tabs-crop .ui-tabs-panel:eq('+i+')').show();
    });
    /*图标切换*/
    $(".service-list ul li .pic").mouseover(function(){
        imgname = $(this).children('img').attr('qh');
        $(this).children('img').attr('src','/static/images/fuwu/'+imgname+'.gif');
    });
    $(".service-list ul li .pic").mouseout(function(){
        imgname = $(this).children('img').attr('qh');
        imgname = imgname.substr(0,imgname.length-1);
        $(this).children('img').attr('src','/static/images/fuwu/'+imgname+'.gif');
    })
    
    /*检测填写资料*/
    if($("#fillData").val() == 1){
       $.dialog({
            title: '您已购买该教程，请补充资料',
            fixed: true,
            lock: true,
            content: "<p>请填写正确的接收方式，方便我们联系到您</p><table><tr height='35'><td>QQ：</td><td><input type='text' name='qq'/></td></tr><tr height='35'><td>教程获取邮箱：</td><td><input type='text' name='email'/></td></tr></table>",
            okValue: '提交数据',
            cancelValue: '取消',
            ok: function () {
                qq = $("input[name=qq]").val();
                email = $("input[name=email]").val();
                if(qq == ''){ $.dialog({ title: '提示',id: 'Buy',content:'QQ不能为空~',fixed: true,lock: true});return false;}
                if(email == ''){ $.dialog({ title: '提示',id: 'Buy',content:'邮箱不能为空~',fixed: true,lock: true});return false;} 
                $.ajax({
                    type: "POST",
                    url: "/fuwu/videoAjax",
                    data: "action=update&qq="+qq+"&email="+email,
                    success: function(data){
                        obj = jQuery.parseJSON(data);
                        $.dialog({ title: '提示',content: obj.info,fixed: true,lock: true,cancelValue: '关闭',cancel: function () { return true;}});
                    }
                });
            },
            cancel: function () { return true;}
        });
    }

    $("#puydata").click(function(){
        $.dialog({
            title: '提示',
            id: 'Buy',
            fixed: true,
            lock: true,
            content: '确认订购么？',
            okValue: '确定',
            cancelValue: '取消',
            ok: function () {
                $.ajax({
                    type: "POST",
                    url: "/fuwu/videoAjax",
                    data: "action=buy",
                    success: function(data){
                        obj = jQuery.parseJSON(data);
                        if(obj.status == 1){
                             $.dialog({ 
                                title: '提示',
                                content: obj.info,
                                fixed: true,
                                lock: true,
                                okValue:"填写资料",
                                cancelValue: '下次填写',
                                ok: function () {
                                    $.dialog({
                                        title: '填写资料',
                                        fixed: true,
                                        lock: true,
                                        content: "<p>请填写正确的接收方式，方便我们联系到您</p><table><tr height='35'><td>QQ：</td><td><input type='text' name='qq'/></td></tr><tr height='35'><td>教程获取邮箱：</td><td><input type='text' name='email'/></td></tr></table>",
                                        okValue: '提交数据',
                                        cancelValue: '取消',
                                        ok: function () {
                                            qq = $("input[name=qq]").val();
                                            email = $("input[name=email]").val();
                                            if(qq == ''){ $.dialog({ title: '提示',id: 'Buy',content:'QQ不能为空~',fixed: true,lock: true});return false;}
                                            if(email == ''){ $.dialog({ title: '提示',id: 'Buy',content:'邮箱不能为空~',fixed: true,lock: true});return false;} 
                                            $.ajax({
                                                type: "POST",
                                                url: "/fuwu/videoAjax",
                                                data: "action=update&qq="+qq+"&email="+email,
                                                success: function(data){
                                                    obj = jQuery.parseJSON(data);
                                                    $.dialog({ title: '提示',content: obj.info,fixed: true,lock: true,cancelValue: '关闭',cancel: function () { return true;}});
                                                }
                                            });
                                        },
                                        cancel: function () { return true;}
                                    });
                                },
                                cancel: function () { return true;}
                            });
                        }else{
                            $.dialog({ title: '提示',content: obj.info,fixed: true,lock: true,cancelValue: '关闭',cancel: function () { return true;}});
                        }
                    }
                });
            },
            cancel: function () { return true;}
        });
    });

    $(".service-view-quan .quan-input").focusin(function(){
        var val = $(this).val();
        if(val == "输入代金券抵扣现金"){
            $(this).val("");
        }
    });
    $(".service-view-quan .quan-input").keyup(function(){
        var val = $(this).val();
        if(val.length>8){
            $(this).next('button').html('使用代金券').attr('name','set');
        }else{
            $(this).next('button').html('领用代金券').attr('name','get');
        }
    })
    $(".service-view-quan .quan-button").click(function(){
        var go = $(this).attr('name');
        if(go == 'get'){
            window.open(__Index__+'/activity/youhuiquan');
        }else{
            //提交
            var val = $(".service-view-quan .quan-input").val();
            $.dialog({ 
                title: '提示',
                content: "确定要使用吗？",
                fixed: true,
                lock: true,
                okValue: '确定',
                ok: function(){
                    $.ajax({
                       type: "POST",
                       url: "/fuwu/gocoupon",
                       data: "go=sp&val="+val,
                       success: function(data){
                            obj = jQuery.parseJSON(data);
                            if(obj.suess){
                                $(".service-view-quan").html('<p>你已成功使用优惠券：<b>KDERFWEIOR3432</b>现在购买9折优惠</p>');
                                return true;
                            }
                            $.dialog({ 
                                title: '提示',
                                content: obj.info,
                                fixed: true,
                                lock: true,
                                cancelValue: '关闭',
                                cancel: function () { 
                                    return true;
                                } 
                            });
                       }
                    });
                },
                cancelValue: '关闭',
                cancel: function () { return true;} 
            });
        }
    })
});
</script>
</body>
</html>