<div id="p-footer">
    <div class="site-map">
        <dl class="newbie">
            <dt>新手上路</dt>
            <dd><ul>
            <li><a href="" target="_blank">新手指南</a></li>
            <li><a href="" target="_blank">免费试用</a></li>
            <li><a href="" target="_blank">服务分类</a></li>
            <li><a href="" target="_blank">挑选服务</a></li>        
            </ul></dd>
        </dl>
        <dl class="charge">
            <dt>充值订购</dt>
            <dd><ul>
            <li><a href="" target="_blank">充值账户</a></li>
            <li><a href="" target="_blank">订购服务</a></li>
            <li><a href="" target="_blank">升级/续费</a></li>
            <li><a href="" target="_blank">订购记录</a></li>   
            </ul></dd>
        </dl>
        <dl class="faq">
            <dt>使用帮助</dt>
            <dd><ul>
            <li><a href="" target="_blank">服务期限</a></li>
            <li><a href="" target="_blank">服务取消</a></li>
            <li><a href="" target="_blank">我的服务</a></li>
            </ul></dd>
        </dl>
        <dl class="service">
            <dt>售后管理</dt>
            <dd><ul>
            <li><a href="" target="_blank">线下服务售后</a></li>
            <li><a href="" target="_blank">服务商信息</a></li>
            <li><a href="" target="_blank">淘拍档名单</a></li>           
            </ul></dd>
        </dl>
    </div>
    <div class="g-layout" style="padding: 20px 0;">
        <div class="footer-infos">
            <p>Copyright © 2012-2020 {$sys_gongsiwangzhi} All RightsReserved    {$sys_gongsimc}版权所有</p>
        </div>
        <ul class="footer-nav">
            <li><a href="{rewrite}/info/aboutus.html">关于我们</a></li>
            <li><a href="{rewrite}/info/private.html">隐私保护</a></li>
            <li><a href="{rewrite}/info/agreement.html">服务条款</a></li>
            <li><a href="{rewrite}/info/duty.html">免责声明</a></li>
            <li><a href="{rewrite}/help/">帮助中心</a></li>
        </ul>
    </div>
        <div id="bottomBar">
       <div class="bottomBar-wrap"> 
            <a class="signin"> </a> 
            <a class="signup" href="{rewrite}/member/reg/">免费注册</a> 
            <span class="flow2"></span>
            <a class="ele6" href="http://wpa.qq.com/msgrd?v=3&uin={$kefu_qq}&site=qq&menu=yes" target="_blank"><span class="flow" style=" cursor:hand;">咨询客服</span></a>
      </div>
      <span id="closeBottomBar">关闭</span> 
    </div>
    </div>