<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>川山岭电商服务平台</title>

<meta name="keywords" content="淘宝运营,电子商务,移动电商,O2O,电商论坛,淘宝天猫,大学生创业" />

<meta name="description" content="川山岭电商服务服务平台，2015年3月成立的高新技术企业。自成立以来，凭借强大的技术实力和崭新的网业管理服务模式，为互联网服务商与用户间架起一座桥梁，有效解决用户在使用互联网服务商产品时，在技术、时间、操作经验上的不足而影响服务质量的瓶颈问题。为互联网行业深入广泛普及，创造更加有利的条件！ 　　
川山岭致力于为客户提供专业、周到、快捷的基于互联网业务的咨询、顾问、信托等服务。" />

{if $cssList}

{loop $cssList $v}



<link rel="stylesheet" type="text/css" href="$v" />

{/loop}

{else}

{teval

echo css::get_css('bbs', 'bbs');

}

{/if}

{js_select jquery,common}

<script type="text/javascript">

{if $showMessage}

alert('{echo common::bf_addcslashes($showMessage)}');

{/if}

$.ajaxSetup({cache:false});

var memberLogined={echo $memberLogined?'true':'false'};

var loginUsername='{echo $memberLogined?$member['username']:''}';

var weburl='$weburl';

var weburl2='$weburl2';

var sys_hash2='$sys_hash2';

</script>

</head>

<body>

	<!--头部开始-->

	<div id="dmh_head">

	<div class="kd">

	    <div class="kmain">

			<div class="hy">

				{if $memberLogined}

				<DIV style="float: left;">

                    <SPAN style="color:#1595DE">|</SPAN>                    

                    <a href="{rewrite}/member/info/?username=$member[username]">$member[username]</a>

                    <IMG title="积分：$memberfields[credits]" alt="积分" src="$memberLevel[icon]">

                    <A class="col3" href="{rewrite}/member/logout/">退出</A>	

                    </div>

				{else}

				

				

				<div style="float:left;">

					<span style="color:#666">亲，欢迎来到{$web_name}</span>

				    <SPAN style="color:#1595DE">|</SPAN>

					<a href="{rewrite}/member/login/" class="chengse">登录</a>

					<a href="{rewrite}/member/reg/" class="lvse">免费注册</a>

				</div>

				  {/if}	

			</div>

			<div class="top_btn">

			

			{if $memberLogined}

			<ul class="quick-menu">

			 <LI class="menu-item">

                <DIV class="menu">

                 <A style="margin: 0px; width: 50px;" class="menu-hd" tabIndex="0" href="{rewrite}/bbs/novice/">视频图文教程<b></b></A>

                <DIV style="width: 88px; line-height: 1.7;" id="menu-0" class="menu-bd">

                <DIV style="padding: 8px 5px;" class="menu-bd-panel">

                <A href="{rewrite}/jc/sp.html" rel="nofollow" target="_blank">视频教程</A>

                <A href="{rewrite}/help/VideoCourses/" rel="nofollow" target="_top">图文教程</A>

                <A href="{rewrite}/help/taskin/" rel="nofollow" target="_top">任务教程</A>

                </DIV>

                </DIV>

				</DIV>

			 </LI>

			 <LI class="menu-item">

                <DIV class="menu">

                 <A style="margin: 0px; width: 50px;" class="menu-hd" tabIndex="0" href="{rewrite}/bbs/novice/">新手入门<b></b></A>

                <DIV style="width: 88px; line-height: 1.7;" id="menu-0" class="menu-bd">

                <DIV style="padding: 8px 5px;" class="menu-bd-panel">

                <A href="{rewrite}/bbs/seller/" rel="nofollow" target="_top">卖家教程</A>

                <A href="{rewrite}/bbs/buyer/" rel="nofollow" target="_top">买家教程</A></DIV>

                </DIV>

				</DIV>

			 </LI>

 

               <LI style="margin-top: -2px;">|</LI>

               <LI class="menu-item">

                <DIV class="menu"><A style="margin: 0px;" class="menu-hd" tabIndex="0" href="{rewrite}/member/topup/">存款：<b></b>

                <SPAN style="font-weight: 700;" class="chengse moneyAll">$memberfields[money]</SPAN></A>

                <DIV style="width: 88px; line-height: 1.7;" id="menu-0" class="menu-bd">

                <DIV style="padding: 8px 5px;" class="menu-bd-panel">

                <A href="{rewrite}/member/topup/" rel="nofollow" target="_top">账号充值</A>

                <A href="{rewrite}/member/PayDetails/?type=1" rel="nofollow" target="_top">存款明细</A></DIV>

                </DIV></DIV>

			   </LI>

               <LI style="margin-top: -2px;">|</LI>

                <LI class="menu-item">

               <DIV class="menu"><A style="margin: 0px;" class="menu-hd" tabIndex="0" href="{rewrite}/member/BuyPoint/">信币：<b></b>

                <SPAN style="font-weight: 700;" class="chengse moneyAll"></SPAN>$memberfields[fabudian]</A>

                <DIV style="width: 88px; line-height: 1.7;" id="menu-0" class="menu-bd">

                <DIV style="padding: 8px 5px;" class="menu-bd-panel">

                <A href="{rewrite}/member/BuyPoint/" rel="nofollow" target="_top">购买信币</A>

                <A href="{rewrite}/member/PayDetails/?type=2" rel="nofollow" target="_top">信币明细</A>

           </DIV></DIV></DIV>

		   </LI>

           <LI style="margin-top: -2px;">|</LI>

           <LI class="menu-item">

           <DIV class="menu">

           <A style="margin: 0px;" class="menu-hd" tabIndex="0" href="{rewrite}/member/message/">信息：<b></b>

           <SPAN style="font-weight: 700;" class="chengse moneyAll">($memberfields[msg])</SPAN></A>

           <DIV style="width: 90px; line-height: 1.7;" id="menu-0" class="menu-bd">

           <DIV style="padding: 8px 5px;" class="menu-bd-panel">

           <A href="{rewrite}/member/message/?type=inUser" rel="nofollow" target="_top">私人收件箱</A>

          <A href="{rewrite}/member/message/?type=inSys" rel="nofollow" target="_top">官方收件箱</A>

          </DIV></DIV>

          </DIV>

          </LI>

					<li style="margin-top: -2px;">|</li>

					<li class="menu-item">

						<div class="menu">

							<a href="{rewrite}/help/selfservice/" style="width:52px;margin:0;" class="menu-hd" tabindex="0">账号设置<b></b></a>

							<div style="width: 90px;line-height:1.7;" class="menu-bd" id="menu-0">

							  <div style="padding:8px 5px;" class="menu-bd-panel">

								  <a rel="nofollow" target="_top" href="{rewrite}/member/forgotpwd/">找回密码</a>

								  <a rel="nofollow" target="_top" href="{rewrite}/member/userdata/?type=GetPass">找回操作码</a>

								  <a rel="nofollow" target="_top" href="{rewrite}/member/userdata/?type=GetPass">更多操作</a>

							  </div>

							</div>

						</div>

					</li>

					

				

			</ul>

			{else}

			

				<ul class="quick-menu">

					<a href="{rewrite}/member/help/" style="float:left;margin-top: -1px;"><b>新手帮助</b></a>

					<li style="margin-top: -2px;">|</li>

					<li class="menu-item">

						<div class="menu">

							<a href="{rewrite}/bbs/novice/" style="width:50px;margin:0;" class="menu-hd" tabindex="0">新手入门<b></b></a>

							<div style="width: 88px;line-height:1.7;" class="menu-bd" id="menu-0">

							  <div style="padding:8px 5px;" class="menu-bd-panel">

								    <A href="{rewrite}/bbs/seller/" rel="nofollow" target="_top">卖家教程</A>

									<A href="{rewrite}/bbs/buyer/" rel="nofollow" target="_top">买家教程</A>

							  </div>

							</div>

						</div>

					</li>

					<li style="margin-top: -2px;">|</li>

					<li class="menu-item">

						<div class="menu">

							<a href="{rewrite}/help/selfservice/" style="width:52px;margin:0;" class="menu-hd" tabindex="0">账号设置<b></b></a>

							<div style="width: 90px;line-height:1.7;" class="menu-bd" id="menu-0">

							  <div style="padding:8px 5px;" class="menu-bd-panel">

								  <a rel="nofollow" target="_top" href="{rewrite}/member/forgotpwd/">找回密码</a>

								  <a rel="nofollow" target="_top" href="{rewrite}/member/forgotpwd/">找回操作码</a>

								  <a rel="nofollow" target="_top" href="{rewrite}/member/forgotpwd/">更多操作</a>

							  </div>

							</div>

						</div>

					</li>

				</ul>

				 {/if}	

			</div>

		</div>

		<div class="menu_qq">

		<a href="javascript:;" class="service">客服帮助</a>

		</div>

		<div id="service_qq" class="help_down" style="display:none;"></div>

	</div>

</div>

	<!--logo开始-->



	<div id="m_logo">

		<a href="" class="logo"><img src="$web_logo" alt="川山岭_淘宝刷信誉" /></a>

		<a href="" class="gg" target="_blank"><img src="/images/bkzl.jpg" alt="爆款教程" title="爆款教程" height="67" width="649"></a>

	</div>

<!--头部结束-->

<!--菜单开始-->

<div id="m_menu" style="position:relative; z-index:2;">

<div class="menu_nav">

		

<ul class="m_menu_nav">

<li><a {if $action=='index'} class="current"{/if} href="$weburl2">首页</a></li>

<li><a {if $action=='task' && $operation=='tao'} class="current"{/if} href="{rewrite}/task/tao/">淘宝大厅</a></li>

<li><a {if $action=='task' && $operation=='new'} class="current"{/if} href="{rewrite}/task/new/">远程大厅</a></li>

<li><a {if $action=='collect'} class="current"{/if} href="{rewrite}/collect/" target="_blank">收藏流量</a></li>

<li><a {if $action=='member' && $operation=='vip'} class="current"{/if} href="{rewrite}/member/vip/">购买VIP</a></li>

<li><a {if $action=='fuwu' && $operation=='fuwu'} class="current"{/if} href="{rewrite}/fuwu/" target="_blank">卖家服务</a></li>

<li><a {if $action=='bbs'} class="current"{/if} href="{rewrite}/bbs/" target="_blank">官方论坛</a></li>

<li><a {if $action=='member' && $operation=='index'} class="current"{/if} href="{rewrite}/member/">会员中心</a></li>

<li><a {if $action=='member' && $operation=='spread'} class="current"{/if} href="{rewrite}/member/spread/" target="_blank">推广赚钱</a></li>

</ul>

		  

</div>

</div>

<script type="text/javascript" src="/images/jquery.js"></script>

<script type="text/javascript" src="/images/common.js"></script>

<script type="text/javascript" src="/javascript/index/task.js"></script>

<!--[if lte IE 6]>

<script type="text/javascript" src="/javascript/cn/DD_belatedPNG_0.0.7a.js"></script>

<script type="text/javascript">

DD_belatedPNG.fix('*');

</script>

<![endif]-->

{sub service}

<script type="text/javascript">



$('#tool_footer')

	.css({

	    'top': $(window).height()-270,

		'left':"auto",

	    'right': ($(window).width() - 1000)>0?($(window).width() - 1000)/2-$('#tool_footer').width()-5:0 ,

		'position':"fixed"

	});

function To_top(){

    $("html,body").animate({scrollTop: $("#m_menu").offset().top}, 100);

}

</script>

<script type="text/javascript">

$(function(){

	$(".menu-item .menu-hd").hover(function(){

		$(this).next('#menu-0').show();

		$(this).children('b').css({borderColor:'#666666 white white',transform:'rotate(180deg',transformOrigin:'50% 30% 0px'});

		$(this).parents(".menu-item").css({background:'rgb(255, 255, 255)',border:'1px solid rgb(191, 191, 191)'})

	});

	$(".menu-item .menu").mouseleave(function(){

		$(this).children('#menu-0').hide();

		$(this).children('.menu-hd').children('b').css({borderColor:'#666666 #EFF6FE #EFF6FE',transform:'none',transformOrigin:'none'});

		$(this).parent(".menu-item").css({background:'none',border:'1px solid #EFF6FE'})

	}); 

})	

</script>

</body>