
<div id="footer">
		<p><span class="chengse">官方QQ群：{$kefu_qq_qun}</span> （加群请注明{$sys_gongsimc}）</p>
		<p class="lanse"><a href="{rewrite}/info/aboutus.html">关于我们</a>|<a href="{rewrite}/info/agreement.html">服务条款</a>|<a href="{rewrite}/info/private.html">隐私保护</a>|<a href="{rewrite}/info/map.html">网站地图</a></p>
		<p style="text-align:center;">
	
		<p class="lanse">客户服务QQ：{$sys_phone1}   Copyright © 2012-2020 {$sys_gongsiwangzhi} All RightsReserved    {$sys_gongsimc}版权所有 <a href="#" target="_blank">{$sys_beian}</a><span style="display:none">
</span></p>
	</div>

	</div>
    </div>